<%= form_for(@factura) do |f| %>
  <% if @factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@factura.errors.count, "error") %> prohibited this factura from being saved:</h2>

      <ul>
      <% @factura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :fechadeexpedicion %><br>
    <%= f.datetime_select :fechadeexpedicion %>
  </div>
  <div class="field">
    <%= f.label :fechadevencimiento %><br>
    <%= f.datetime_select :fechadevencimiento %>
  </div>
  <div class="field">
    <%= f.label :nombreprestadordeservicio %><br>
    <%= f.text_field :nombreprestadordeservicio %>
  </div>
  <div class="field">
    <%= f.label :nit_prestadordeservicio %><br>
    <%= f.text_field :nit_prestadordeservicio %>
  </div>
  <div class="field">
    <%= f.label :retenedordeimpuesto %><br>
    <%= f.text_field :retenedordeimpuesto %>
  </div>
  <div class="field">
    <%= f.label :valorimpuesto %><br>
    <%= f.text_field :valorimpuesto %>
  </div>
  <div class="field">
    <%= f.label :iva_incluido %><br>
    <%= f.text_field :iva_incluido %>
  </div>
  <div class="field">
    <%= f.label :valor_iva %><br>
    <%= f.text_field :valor_iva %>
  </div>
  <div class="field">
    <%= f.label :nombrecliente %><br>
    <%= f.text_field :nombrecliente %>
  </div>
  <div class="field">
    <%= f.label :nit_cliente %><br>
    <%= f.text_field :nit_cliente %>
  </div>
  <div class="field">
    <%= f.label :descripcionservicio %><br>
    <%= f.text_field :descripcionservicio %>
  </div>
  <div class="field">
    <%= f.label :valor_servicio_unitario %><br>
    <%= f.text_field :valor_servicio_unitario %>
  </div>
  <div class="field">
    <%= f.label :formadepago %><br>
    <%= f.text_field :formadepago %>
  </div>
  <div class="field">
    <%= f.label :cantidad_vendida%><br>
    <%= f.text_field :cantidad_vendida %>
  </div>
  <div class="field">
    <%= f.label :total_venta %><br>
    <%= f.text_field :total_venta %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
