<p id="notice"><%= notice %></p>

<h1>Listado de Facturas</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Fecha de expedicion</th>
      <th>Fecha de vencimiento</th>
      <th>Nombre prestador de servicio</th>
      <th>Nit prestador deservicio</th>
      <th>Retenedor de impuesto</th>
      <th>Valor impuesto</th>
      <th>Iva incluido</th>
      <th>Valor iva</th>
      <th>Nombre cliente</th>
      <th>Nit cliente</th>
      <th>Descripcion servicio</th>
      <th>Valor servicio unitario</th>
      <th>Cantidad vendida</th>
      <th>Forma de pago</th>
      <th>Total venta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facturas.each do |factura| %>
      <tr>
        <td><%= factura.codigo %></td>
        <td><%= factura.fechadeexpedicion %></td>
        <td><%= factura.fechadevencimiento %></td>
        <td><%= factura.nombreprestadordeservicio %></td>
        <td><%= factura.nit_prestadordeservicio %></td>
        <td><%= factura.retenedordeimpuesto %></td>
        <td><%= factura.valorimpuesto %></td>
        <td><%= factura.iva_incluido %></td>
        <td><%= factura.valor_iva %></td>
        <td><%= factura.nombrecliente %></td>
        <td><%= factura.nit_cliente %></td>
        <td><%= factura.descripcionservicio %></td>
        <td><%= factura.valor_servicio_unitario %></td>
        <td><%= factura.cantidad_vendida %></td>
        <td><%= factura.formadepago %></td>
        <td><%= factura.total_venta %></td>


        <td><%= link_to 'Show', factura %></td>
        <td><%= link_to 'Edit', edit_factura_path(factura) %></td>
        <td><%= link_to 'Destroy', factura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear nueva factura', new_factura_path %>
