<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @factura.codigo %>
</p>

<p>
  <strong>Fecha de expedicion:</strong>
  <%= @factura.fechadeexpedicion %>
</p>

<p>
  <strong>Fecha de vencimiento:</strong>
  <%= @factura.fechadevencimiento %>
</p>

<p>
  <strong>Nombreprestadordeservicio:</strong>
  <%= @factura.nombreprestadordeservicio %>
</p>

<p>
  <strong>Nit prestadordeservicio:</strong>
  <%= @factura.nit_prestadordeservicio %>
</p>

<p>
  <strong>Retenedor de impuesto:</strong>
  <%= @factura.retenedordeimpuesto %>
</p>

<p>
  <strong>Valor impuesto:</strong>
  <%= @factura.valorimpuesto %>
</p>

<p>
  <strong>Iva incluido:</strong>
  <%= @factura.iva_incluido %>
</p>

<p>
  <strong>Valor iva:</strong>
  <%= @factura.valor_iva %>
</p>

<p>
  <strong>Nombre cliente:</strong>
  <%= @factura.nombrecliente %>
</p>

<p>
  <strong>nit_cliente:</strong>
  <%= @factura.nit_cliente %>
</p>

<p>
  <strong>Descripcionservicio:</strong>
  <%= @factura.descripcionservicio %>
</p>

<p>
  <strong>Valorservicio:</strong>
  <%= @factura.valor_servicio_unitario %>
</p>

<p>
  <strong>Forma de pago:</strong>
  <%= @factura.formadepago %>
</p>

<p>
  <strong>Cantidad vendida:</strong>
  <%= @factura.cantidad_vendida %>
</p>

<p>
  <strong>Total venta:</strong>
  <%= @factura.total_venta %>
</p>



<%= link_to 'Edit', edit_factura_path(@factura) %> |
<%= link_to 'Back', facturas_path %>
